* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

section {
    margin: 60px 0;
}

p {
    opacity: 0.7;

}

:root {
    --text-white: white;
    --text-black: black;
    --bg-color: ;
    --second-bg: ;
}

/* .header section design start  */
header {
    padding: 25px 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

header .container .main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .main_header {}

header .container .main_header .left_side h2 {
    font-size: 28px;
}


header .container .main_header .right_side a {
    padding: 17px 24px;
    background-color: transparent;
    color: black;
    border: 1px solid gray;
    align-content: center;
    display: flex;
    align-items: center;
}

/* hero section  design start  */
.main_banner {
    background-image: url("assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 652px;
}

.main_banner .main_content {
    text-align: center;
    align-content: center;
    width: 998px;
    height: 581px;
    margin: 0 auto;
    padding-top: 30px;
}

.main_banner .main_content .img img {
    width: 240.28px;
    height: 240px;
}

.main_banner .main_content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    padding-top: 20px;
}

.main_banner .main_content p {
    width: 852px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 10px;
}

.main_banner .main_content .btn {
    margin-top: 68px;
}

.main_banner .main_content .btn a button {
    background-color: black;
    padding: 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;

}

/* web developement section design  */

.main_web .container {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
}

.main_web .container .hading_content {
    text-align: center;
}

.main_web .container .hading_content h2 {
    font-size: 32px;
    font-weight: 800;

}

.main_web .container .hading_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 40px;

}

.main_web .container .box_item,
.box_item-2 {
    width: 970px;
    height: 304px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}


.main_web .container .box_item .left_side {
    width: 477px;
    height: 219px;
}

.main_web .container .box_item .left_side .content h2,
.main_web .container .box_item-2 .right_side .content h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 16px;
}

.main_web .container .box_item .left_side .content p,
.main_web .container .box_item-2 .right_side .content p {
    color: rgb(13, 19, 33);
    text-align: left;
    margin-bottom: 36px;
}

.main_web .container .box_item .left_side .content .btn a,
.main_web .container .box_item-2 .right_side .content .btn a {
    border: 1px solid gray;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    color: black;

}

.main_web .container .box_item .right_side .img img {
    width: 259.56px;
    height: 217.01px;
}


.main_web .container .box_item-2 {
    border-radius: 16px;
    gap: 30px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.main_web .container .box_item-2 .left_side .img img {
    width: 223.2px;
    height: 208.85px;
}

/* this is inspiration section design  */
.main_inspiration {
    margin-top: 40px;
}

.main_inspiration .container .hading_content {
    text-align: center;
    width: 852px;
    height: 113px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.main_inspiration .container .hading_content h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.main_inspiration .container .hading_content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.main_inspiration .container .video {
    width: 1140px;
    height: 614px;
    border: 1px solid gray;
    padding: 32px;
    border-radius: 10px;
    margin: 0 auto;
}

.main_inspiration .container .main_video {
    margin-top: 50px;
}

.main_inspiration .container .main_video .video iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* My Current Target section design  start */

.main_target .container .hading_content {
    text-align: center;
    width: 946px;
    height: 113px;
    margin: 0 auto;
}

.main_target .container .hading_content h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;

}

.main_target .container .hading_content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 0 0;

}


.main_target .container .target_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.main_target .container .target_box .box,
.box-2,
.box-3 {
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-top: 50px;
}

.main_target .container .target_box .box h2,
.box-2 h2,
.box-3 h2 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.main_target .container .target_box .box p,
.box-2 p,
.box-3 p {
    text-align: justify;
    line-height: 26px;
    opacity: 0.7;

}

.main_target .container .target_box .box .btn a,
.box-2 .btn a,
.box-3 .btn a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 25px;
    display: block;
}

.main_target .container .target_box .box-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.main_target .container .target_box .box-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* My next Target  */

.next_target .container .hading_content {
    text-align: center;
    width: 946px;
    height: 113px;
    margin: 0 auto;
}


.next_target .container .hading_content h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.next_target .container .hading_content h2 p {
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
}

.next_target .container .next_box {
    margin-top: 48px;
}

.next_target .container .next_box .next_item {
    display: flex;
    gap: 24px;
    border: 1px solid gray;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.next_target .container .next_box .next_item .content h2 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;

}

.next_target .container .next_box .next_item .content .btn a {
    display: block;
    color: rgb(13, 19, 33);
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 20px;
}


/* Support section start  */

.support_section .container {
    background-image: url("assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 313px;
    padding: 64px 48px;
   position: relative;

}

.support_section .container .support .content{
    position: absolute;
    background-color: #0000007d;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
}

.support_section .container .support .content h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;

}

.support_section .container .support .content p {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.support_section .container .support .content form input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    width: 549px;
    height: 50px;
}


.support_section .container .support .content form a {
    padding: 14px 20px;
    color: rgb(13, 19, 33);
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 5px;

}